# Week 3 : Toronto neighbourhood

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url_path='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Get the html source
df = pd.read_html(url_path)[0]

In [3]:
d_f=df.values.reshape(180,1)
d_f=pd.DataFrame(d_f)

In [4]:
df1=d_f[0].str.split(' ',1, expand= True)
df2=df1.set_index([0])

In [5]:
d_t=df2[1].str.split('(',1, expand=True)

                     0                            1
0
M1A       Not assigned                         None
M2A       Not assigned                         None
M3A        North York                    Parkwoods)
M4A        North York             Victoria Village)
M5A  Downtown Toronto   Regent Park / Harbourfront)

In [6]:
d_t.columns=['Borrough','Neighbourhood']
d_t=d_t.reset_index()

In [7]:
d_t.columns=['PostalCode','Borrough','Neighbourhood']

In [8]:
df3 = d_t[d_t['Borrough'] != 'Not assigned']

,PostalCode,Borrough,Neighbourhood
2,M3A,North York,Parkwoods)
3,M4A,North York,Victoria Village)
4,M5A,Downtown Toronto,Regent Park / Harbourfront)
5,M6A,North York,Lawrence Manor / Lawrence Heights)
6,M7A,Queen's Park Ontario Provincial Government,None

In [9]:
print(df3.shape)

(103, 3)

Data cleaned up and scrubbed

In [14]:
df3.set_index(['PostalCode'], inplace=True)

In [31]:
# The code was removed by DSX for sharing.

IndexError: list index out of range

In [34]:
for pcode in df3.index:
    url = 'https://maps.googleapis.com/maps/api/geocode/json?key={}&address={}'.format(API_key, pcode)

    response = requests.get(url).json() # get response
    try:
        geographical_data = response['results'][0]['geometry']['location'] # get geographical coordinates
        latitude = geographical_data['lat']
        longitude = geographical_data['lng']
        df3.loc[df3.index == pcode, 'Latitute']= latitude
        df3.loc[df3.index == pcode, 'Longitude']= longitude
        
    except:
        pass

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [38]:
df4=df3[df3['Latitute']!='']

In [39]:
df4.head()

,Borrough,Neighbourhood,Latitute,Longitude
PostalCode,,,,
M3A,North York,Parkwoods),32.3636,-90.1524
M4B,East York,Parkview Hill / Woodbine Gardens),43.7149,-79.3051
M3C,North York,Don Mills) South (Flemingdon Park),45.5725,-73.414
M4C,East York,Woodbine Heights),43.6846,-79.3188
M1E,Scarborough,Guildwood / Morningside / West Hill),43.7636,-79.1887

In [40]:
df4.shape

(45, 4)